SF_BASE_URL=https://apisalesdemo2.successfactors.eu
SF_COMPANY_ID=YOUR_COMPANY_ID
SF_USERNAME=YOUR_USER_ID
SF_PASSWORD=YOUR_PASSWORD

SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
EMPLOYEE_WEBHOOK_URL=YOUR_EMPLOYEE_WEBHOOK_URL
HR_WEBHOOK_URL=YOUR_HR_WEBHOOK_URL

TEAM_CHANNEL_ID=
HR_CHANNEL_ID=